html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header{
    background-color: #8D8D8D;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 8px; */
    height: 100%;
}

.img{
    font-size: 5px;
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: right;
}
.icon{
    width: 2rem;
    color: white;
    font-weight: lighter;
}

.icon-container{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    align-content: center;
    border-radius: 50%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid #A4A4A4;
}
.container{
    height: 35vw;
    width:40vw;
    background-color: #DC965A;;
    padding: 4rem;
    position: relative;
}
.navigation{
    height: 65vh;
    width: 30vw;
    background-color:grey;
    border:10px aliceblue solid;
    position: absolute;
    right: -4rem;
}

.content-text{
    width: 60vw;
    padding: 10rem;
}

 p{
    font-size: 1rem;
    font-weight: lighter;
}

.content-deliver{
    font-size: 1rem;
    width: 100vw;
    font-weight: lighter;
    display: flex;
}

/* h1{
    text-align: end;
}  */

.brand{
    padding: 0px 5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.btn{
    font-size:2rem;
    background-color:#DC965A;
    color: white;
    font-weight: 100;
    border-color: #DC965A; 
    padding: 0.5rem 1rem;
}
.bottom-header{
    display: flex;
    justify-content: space-between;
width: 100%;
}
.S-scro{
    margin-top: 4rem;
    font-size: 1rem;
    font-weight: lighter;
}

.border{
   margin-left: 36rem;
   font-size: 6rem;
   color: black;
   font-weight: bolder;
}

.btn:hover{
    color: black;
    transition: 0.3s;
    scroll-behavior: smooth;
}
h3{
    color: white;
}

.nav-link {
    font-size: 16px;
    padding: 30px 30px;
    border-left: 0.1px solid #A4A4A4;
}

.active-link {
    color: #DC965A;
    font-weight: bolder;
}

.distinct-text{
    color: #DC965A;
}

.disabled-text{
    color: #A4A4A4;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
}

.padding-x{
    padding: 0 2rem 0 0;
}

.header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 4rem;
}

.b-right {
    border-right: 0.1px solid #A4A4A4;
}

.h-mar{
    font-size: 25px;
    color:#DC965A;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3rem;
}
